In [2]:
import pandas as pd
import os

In [3]:
def caminho_absoluto(caminho_relativo_com_barras_normais):
    
    caminho_base = os.getcwd()

    caminho_absoluto = os.path.join(caminho_base, caminho_relativo_com_barras_normais)

    return caminho_absoluto

In [4]:
todas_armazenagens = pd.read_excel(caminho_absoluto('datasets/armazenagens.xlsx'))

In [10]:
colunas = ['Dep.',
           'Apelido',
           'Situação',
           'Motivo Bloqueio',
           ]

In [11]:
todas_armazenagens[colunas]

      Dep.        Apelido      Situação             Motivo Bloqueio
0        1  010-002-03-01       Inativo                 .NÃO EXISTE
1        1  010-002-03-02       Inativo                 .NÃO EXISTE
2        1  010-002-04-01           Uso                         NaN
3        1  010-002-04-02  Bloq.Invent.                  INVENTARIO
4        1  010-002-05-01  Bloq.Invent.                  INVENTARIO
...    ...            ...           ...                         ...
2820     2  018-010-05-02       Inativo  .NÃO EXISTE - NORMAL DEP 2
2821     2  018-010-06-01       Inativo  .NÃO EXISTE - NORMAL DEP 2
2822     2  018-010-06-02       Inativo  .NÃO EXISTE - NORMAL DEP 2
2823     2  018-010-07-01       Inativo  .NÃO EXISTE - NORMAL DEP 2
2824     2  018-010-07-02       Inativo  .NÃO EXISTE - NORMAL DEP 2

[2825 rows x 4 columns]