In [2]:
import pandas as pd

pd.read_excel('curva_abc_geral.xlsx')

,Cód.Produto,Descrição,Curva,Embal.,Qtde Venda,Dias Pedido,Média por dia,Capacid.Apan.,Endereço Apanha,Tipo Ender.,Estoque (Unid.),Ativ.Ressupr.,Estoque Armaz. (Unid.),Estoque Geral (Unid.)
0,106011.0,NARIDRIN 12 HORAS FR C/30ML,A,1.0,0.0,0.0,0.0,3500.0,NaN,NaN,3002.0,0.0,144700.0,147702.0
1,10149.0,METILDOPA 250MG C/ 30CP,A,1.0,0.0,0.0,0.0,2300.0,NaN,NaN,5.0,0.0,0.0,5.0
2,101175.0,INFRALAX C/ 15 COMP,A,1.0,0.0,0.0,0.0,2112.0,NaN,NaN,2069.0,0.0,31056.0,33125.0
3,102133.0,ALLEXOFEDRIN ( D) 60+120MG C/ 10COMP,A,1.0,0.0,0.0,0.0,2112.0,NaN,NaN,1947.0,0.0,39072.0,41019.0
4,10039.0,DIPIRONA SOD 20ML,A,1.0,0.0,0.0,0.0,2000.0,NaN,NaN,1950.0,0.0,4500.0,6450.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2037,801642.0,CAMAGR PETUROPA ZIG-ZAG-P,C,1.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,1.0
2038,801658.0,COLCHONETEGR PET NEWS-M,C,1.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,1.0
2039,801659.0,COLCHONETEGR PET NEWS-P,C,1.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,1.0
2040,802246.0,BRINQ KONG BALLISTIC WOODLAND RABBIT-G,C,1.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,1.0
2041,802356.0,JOGO INTERATIVO PETGAMES CAT PIZZA,C,1.0,0.0,0.0,0.0,1.0,NaN,NaN,1.0,0.0,0.0,1.0

In [3]:
curva_geral.Curva.value_counts()

C    1019
B     612
A     407
Name: Curva, dtype: int64

In [4]:
curva_geral.Curva.value_counts(normalize = True)

C    0.500000
B    0.300294
A    0.199706
Name: Curva, dtype: float64

In [5]:
curva_geral.Curva.value_counts(normalize = True) * 100

C    50.000000
B    30.029441
A    19.970559
Name: Curva, dtype: float64

In [6]:
frequencia = curva_geral.Curva.value_counts()

In [7]:
percentual = curva_geral.Curva.value_counts(normalize = True) * 100

In [10]:
dist_freq_curva = pd.DataFrame({'Frequência' : frequencia, 'Percentual (%)' : percentual})

In [11]:
dist_freq_curva

   Frequência  Percentual (%)
C        1019       50.000000
B         612       30.029441
A         407       19.970559

In [12]:
dist_freq_curva.rename_axis('Curva', axis = 'columns', inplace = True)

In [13]:
dist_freq_curva

Curva  Frequência  Percentual (%)
C            1019       50.000000
B             612       30.029441
A             407       19.970559