In [2]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [5]:
situacao_final = pd.read_excel(r'..\..\..\tratamento_curva_abc\dados_tratados\situacao_final.xlsx')

In [6]:
def refatorar_indece(df, nome_index):
    
    qnt_linha = df.shape[0] + 1

    index = [i for i in range(1, qnt_linha)]

    df.set_index(pd.Index(index), inplace=True)

    df.index.name = nome_index

    return df

In [7]:
end_atuais = situacao_final[['Código', 'Ender.Fracionado']]
end_atuais['Ender.Fracionado'] = end_atuais['Ender.Fracionado'].astype(str)

C:\Users\estoque\AppData\Local\Temp\ipykernel_18156\2215081464.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_atuais['Ender.Fracionado'] = end_atuais['Ender.Fracionado'].astype(str)

In [10]:
enderecos_x_locais = pd.read_excel(r'..\..\local\locais_frac_classificados.xlsx')
enderecos_x_locais.set_index('Unnamed: 0', inplace = True)

refatorar_indece(enderecos_x_locais, 'Ordem')

enderecos_x_locais = enderecos_x_locais.astype(str)
enderecos_x_locais

      Classe   29_28   27_26   25_24   23_22   21_20   19_18
Ordem
1         AA  28.082  26.012  24.082  22.012  20.082  18.012
2         AA  29.012  26.022  25.012  22.022  21.012  18.022
3         AA  29.022  26.032  25.022  22.032  21.022  18.032
4         AA  29.032  26.042  25.032  22.042  21.032  18.042
5         AA  29.042  26.052  25.042  22.052  21.042  18.052
...      ...     ...     ...     ...     ...     ...     ...
75        AC  29.086  27.086  25.086  23.086  21.086  18.086
76        AC  28.045  27.025  24.045  23.025  20.045  18.025
77        AC  28.055  27.035  24.055  23.035  20.055  18.035
78        AC  28.065  27.055  24.065  23.055  20.065  18.055
79        AC  28.075  27.075  24.075  23.075  20.075  18.075

[79 rows x 7 columns]

### Verificando os itens a serem classificados

In [11]:
# Local de fracionado classificado

aa = enderecos_x_locais['Classe'] == 'AA'
ab = enderecos_x_locais['Classe'] == 'AB'
ac = enderecos_x_locais['Classe'] == 'AC'

def loc_enderecos_locaisXmodulos(modulo, classe):

    return enderecos_x_locais[classe][[modulo]]

AA_29 = loc_enderecos_locaisXmodulos('29_28', aa)
AB_29 = loc_enderecos_locaisXmodulos('29_28', ab)
AC_29 = loc_enderecos_locaisXmodulos('29_28', ac)

AA_27 = loc_enderecos_locaisXmodulos('27_26', aa)
AB_27 = loc_enderecos_locaisXmodulos('27_26', ab)
AC_27 = loc_enderecos_locaisXmodulos('27_26', ac)

AA_25 = loc_enderecos_locaisXmodulos('25_24', aa)
AB_25 = loc_enderecos_locaisXmodulos('25_24', ab)
AC_25 = loc_enderecos_locaisXmodulos('25_24', ac)

AA_23 = loc_enderecos_locaisXmodulos('23_22', aa)
AB_23 = loc_enderecos_locaisXmodulos('23_22', ab)
AC_23 = loc_enderecos_locaisXmodulos('23_22', ac)

AA_21 = loc_enderecos_locaisXmodulos('21_20', aa)
AB_21 = loc_enderecos_locaisXmodulos('21_20', ab)
AC_21 = loc_enderecos_locaisXmodulos('21_20', ac)

AA_19 = loc_enderecos_locaisXmodulos('19_18', aa)
AB_19 = loc_enderecos_locaisXmodulos('19_18', ab)
AC_19 = loc_enderecos_locaisXmodulos('19_18', ac)

In [12]:
situacao_final['Ender.Fracionado'] = situacao_final['Ender.Fracionado'].astype(str)

## selecionar e somar a saida das classes por modulo

### 29_28

In [ ]:
selecao_AA_29 = situacao_final['Ender.Fracionado'].isin(AA_29['29_28'])
selecao_AA_29 = situacao_final[selecao_AA_29]['Qtde Venda Frac'].sum()

selecao_AB_29 = situacao_final['Ender.Fracionado'].isin(AB_29['29_28'])
selecao_AB_29 = situacao_final[selecao_AB_29]['Qtde Venda Frac'].sum()

selecao_AC_29 = situacao_final['Ender.Fracionado'].isin(AC_29['29_28'])
selecao_AC_29 = situacao_final[selecao_AC_29]['Qtde Venda Frac'].sum()

modulo_29_28_classe = selecao_AA_29, selecao_AB_29, selecao_AC_29
print(modulo_29_28_classe)

modulo_29_28_soma_classe = selecao_AA_29 + selecao_AB_29 + selecao_AC_29
print(modulo_29_28_soma_classe)

(580621.0, 161424.0, 162168.0)
904213.0

### 27_26

In [14]:
selecao_AA_27 = situacao_final['Ender.Fracionado'].isin(AA_27['27_26'])
selecao_AA_27 = situacao_final[selecao_AA_27]['Qtde Venda Frac'].sum()

selecao_AB_27 = situacao_final['Ender.Fracionado'].isin(AB_27['27_26'])
selecao_AB_27 = situacao_final[selecao_AB_27]['Qtde Venda Frac'].sum()

selecao_AC_27 = situacao_final['Ender.Fracionado'].isin(AC_27['27_26'])
selecao_AC_27 = situacao_final[selecao_AC_27]['Qtde Venda Frac'].sum()

modulo_27_26_classe = selecao_AA_27, selecao_AB_27, selecao_AC_27
print(modulo_27_26_classe)

modulo_27_26_soma_classe = selecao_AA_27 + selecao_AB_27 + selecao_AC_27
print(modulo_27_26_soma_classe)

(277093.0, 102802.0, 254013.0)
633908.0

### 25_24

In [15]:
selecao_AA_25 = situacao_final['Ender.Fracionado'].isin(AA_25['25_24'])
selecao_AA_25 = situacao_final[selecao_AA_25]['Qtde Venda Frac'].sum()

selecao_AB_25 = situacao_final['Ender.Fracionado'].isin(AB_25['25_24'])
selecao_AB_25 = situacao_final[selecao_AB_25]['Qtde Venda Frac'].sum()

selecao_AC_25 = situacao_final['Ender.Fracionado'].isin(AC_25['25_24'])
selecao_AC_25 = situacao_final[selecao_AC_25]['Qtde Venda Frac'].sum()

modulo_25_24_classe = selecao_AA_25, selecao_AB_25, selecao_AC_25
print(modulo_25_24_classe)

modulo_25_24_soma_classe = selecao_AA_25 + selecao_AB_25 + selecao_AC_25
print(modulo_25_24_soma_classe)

(383797.0, 139594.0, 49627.0)
573018.0

### 23_22

In [16]:
selecao_AA_23 = situacao_final['Ender.Fracionado'].isin(AA_23['23_22'])
selecao_AA_23 = situacao_final[selecao_AA_23]['Qtde Venda Frac'].sum()

selecao_AB_23 = situacao_final['Ender.Fracionado'].isin(AB_23['23_22'])
selecao_AB_23 = situacao_final[selecao_AB_23]['Qtde Venda Frac'].sum()

selecao_AC_23 = situacao_final['Ender.Fracionado'].isin(AC_23['23_22'])
selecao_AC_23 = situacao_final[selecao_AC_23]['Qtde Venda Frac'].sum()

modulo_23_22_classe = selecao_AA_23, selecao_AB_23, selecao_AC_23
print(modulo_23_22_classe)

modulo_23_22_soma_classe = selecao_AA_23 + selecao_AB_23 + selecao_AC_23
print(modulo_23_22_soma_classe)

(501952.0, 112178.0, 70551.0)
684681.0

### 21_20

In [17]:
selecao_AA_21 = situacao_final['Ender.Fracionado'].isin(AA_21['21_20'])
selecao_AA_21 = situacao_final[selecao_AA_21]['Qtde Venda Frac'].sum()

selecao_AB_21 = situacao_final['Ender.Fracionado'].isin(AB_21['21_20'])
selecao_AB_21 = situacao_final[selecao_AB_21]['Qtde Venda Frac'].sum()

selecao_AC_21 = situacao_final['Ender.Fracionado'].isin(AC_21['21_20'])
selecao_AC_21 = situacao_final[selecao_AC_21]['Qtde Venda Frac'].sum()

modulo_21_20_classe = selecao_AA_21, selecao_AB_21, selecao_AC_21
print(modulo_21_20_classe)

modulo_21_20_soma_classe = selecao_AA_21 + selecao_AB_21 + selecao_AC_21
print(modulo_21_20_soma_classe)

(525881.0, 186768.0, 47404.0)
760053.0

### 19_18

In [18]:
selecao_AA_19 = situacao_final['Ender.Fracionado'].isin(AA_19['19_18'])
selecao_AA_19 = situacao_final[selecao_AA_19]['Qtde Venda Frac'].sum()

selecao_AB_19 = situacao_final['Ender.Fracionado'].isin(AB_19['19_18'])
selecao_AB_19 = situacao_final[selecao_AB_19]['Qtde Venda Frac'].sum()

selecao_AC_19 = situacao_final['Ender.Fracionado'].isin(AC_19['19_18'])
selecao_AC_19 = situacao_final[selecao_AC_19]['Qtde Venda Frac'].sum()

modulo_19_18_classe = selecao_AA_19, selecao_AB_19, selecao_AC_19
print(modulo_19_18_classe)

modulo_19_18_soma_classe = selecao_AA_19 + selecao_AB_19 + selecao_AC_19
print(modulo_19_18_soma_classe)

(14136.0, 20275.0, 0.0)
34411.0

### Selecionar flowrack inteiro

In [19]:
selecao_flowrack_29_28 = situacao_final['Ender.Fracionado'].str.contains('29.0|28.0')
selecao_flowrack_27_26 = situacao_final['Ender.Fracionado'].str.contains('27.0|26.0')
selecao_flowrack_25_24 = situacao_final['Ender.Fracionado'].str.contains('25.0|24.0')
selecao_flowrack_23_22 = situacao_final['Ender.Fracionado'].str.contains('23.0|22.0')
selecao_flowrack_21_20 = situacao_final['Ender.Fracionado'].str.contains('21.0|20.0')
selecao_flowrack_19_18 = situacao_final['Ender.Fracionado'].str.contains('19.0|18.0')

saida_flowrack_29_28 = situacao_final[selecao_flowrack_29_28]['Qtde Venda Frac'].sum()
saida_flowrack_27_26 = situacao_final[selecao_flowrack_27_26]['Qtde Venda Frac'].sum()
saida_flowrack_25_24 = situacao_final[selecao_flowrack_25_24]['Qtde Venda Frac'].sum()
saida_flowrack_23_22 = situacao_final[selecao_flowrack_23_22]['Qtde Venda Frac'].sum()
saida_flowrack_21_20 = situacao_final[selecao_flowrack_21_20]['Qtde Venda Frac'].sum()
saida_flowrack_19_18 = situacao_final[selecao_flowrack_19_18]['Qtde Venda Frac'].sum()

In [20]:
saidaXmodulos = pd.DataFrame([['28_29', saida_flowrack_29_28],
                            ['27_26', saida_flowrack_27_26],
                            ['25_24', saida_flowrack_25_24],
                            ['23_22', saida_flowrack_23_22],
                            ['21_20', saida_flowrack_21_20],
                            ['18_19', saida_flowrack_19_18],
                            ], columns=['Modulo', 'Saída total flowrack'])
saidaXmodulos

  Modulo  Saída total flowrack
0  28_29             1017227.0
1  27_26              778379.0
2  25_24              754587.0
3  23_22              849163.0
4  21_20              939572.0
5  18_19              170620.0

In [22]:
saidaXmodulos.to_excel('..\datasets\saidaXmodulos.xlsx', index=False)

### Juntas as saidas

In [179]:
saidasXclasses = pd.DataFrame([['29_28', 'AA', selecao_AA_29, modulo_29_28_soma_classe],
                                ['29_28', 'AB', selecao_AB_29, modulo_29_28_soma_classe],
                                ['29_28', 'AC', selecao_AC_29, modulo_29_28_soma_classe],
                                ['27_26', 'AA', selecao_AA_27, modulo_27_26_soma_classe],
                                ['27_26', 'AB', selecao_AB_27, modulo_27_26_soma_classe],
                                ['27_26', 'AC', selecao_AC_27, modulo_27_26_soma_classe],
                                ['25_24', 'AA', selecao_AA_25, modulo_25_24_soma_classe],
                                ['25_24', 'AB', selecao_AB_25, modulo_25_24_soma_classe],
                                ['25_24', 'AC', selecao_AC_25, modulo_25_24_soma_classe],
                                ['23_22', 'AA', selecao_AA_23, modulo_23_22_soma_classe],
                                ['23_22', 'AB', selecao_AB_23, modulo_23_22_soma_classe],
                                ['23_22', 'AC', selecao_AC_23, modulo_23_22_soma_classe],
                                ['21_20', 'AA', selecao_AA_21, modulo_21_20_soma_classe],
                                ['21_20', 'AB', selecao_AB_21, modulo_21_20_soma_classe],
                                ['21_20', 'AC', selecao_AC_21, modulo_21_20_soma_classe],
                                ['19_18', 'AA', selecao_AA_19, modulo_19_18_soma_classe],
                                ['19_18', 'AB', selecao_AB_19, modulo_19_18_soma_classe],
                                ['19_18', 'AC', selecao_AC_19, modulo_19_18_soma_classe],
                                ], columns=['Módulo', 'Classe', 'Saída por classe', 'Saída total do modulo'])
saidasXclasses

   Módulo Classe  Saída por classe  Saída total do modulo
0   29_28     AA          585012.0               765764.0
1   29_28     AB          152670.0               765764.0
2   29_28     AC           28082.0               765764.0
3   27_26     AA          260606.0               423855.0
4   27_26     AB           98709.0               423855.0
5   27_26     AC           64540.0               423855.0
6   25_24     AA          363562.0               512535.0
7   25_24     AB          120634.0               512535.0
8   25_24     AC           28339.0               512535.0
9   23_22     AA          501952.0               640425.0
10  23_22     AB          112178.0               640425.0
11  23_22     AC           26295.0               640425.0
12  21_20     AA          525881.0               682354.0
13  21_20     AB          120071.0               682354.0
14  21_20     AC           36402.0               682354.0
15  19_18     AA          350028.0               863301.0
16  19_18     AB          282308.0               863301.0
17  19_18     AC          230965.0               863301.0

In [180]:
saidasXclasses.to_excel('datasets\saidasXclasses.xlsx', index=False)

### Verificar os itens no endereço do modulo