In [85]:
import pandas as pd

curva_geral = pd.read_excel('dados_tratados/curva_abc_geral.xlsx')
enderecos = curva_geral[['Ender.Cx.Fechada']].astype(str)

display(enderecos)

locais = pd.read_excel('datasets/locais.xlsx').astype(str)

display(locais)

     Ender.Cx.Fechada
0       016-037-01-01
1       016-043-01-02
2       016-035-01-02
3       014-032-02-01
4       014-042-02-01
...               ...
9297    018-001-01-02
9298    018-004-01-02
9299    018-001-01-01
9300              nan
9301    018-001-01-02

[9302 rows x 1 columns]

    Ender.Cx.Fechada        local
0      014-006-01-01       Fech-A
1      014-006-01-02       Fech-A
2      014-008-01-01       Fech-A
3      014-008-01-02       Fech-A
4      014-010-01-01       Fech-A
..               ...          ...
415    016-026-01-02  Antibiotico
416    016-028-01-01  Antibiotico
417    016-028-01-02  Antibiotico
418    016-030-01-01  Antibiotico
419    016-030-01-02  Antibiotico

[420 rows x 2 columns]

In [86]:
for linha in enderecos:
    
    if linha in locais['Ender.Cx.Fechada']:
        
        
        
    elif linha == 'nan':
        
        enderecos.linha = 'Sem endereco'

SyntaxError: invalid syntax (24015756.py, line 3)

In [91]:
linha_endereco = 

indice_linha_local = locais[locais['Ender.Cx.Fechada'] == linha_endereco].index[0]
display(indice_linha_local)

101