In [1]:
import pandas as pd
pd.set_option('display.max_columns', None)

In [25]:
def refatorar_indece(df, nome_index):
    
    qnt_linha = df.shape[0] + 1

    index = [i for i in range(1, qnt_linha)]

    df.set_index(pd.Index(index), inplace=True)

    df.index.name = nome_index
    
    return df

In [22]:
todos_classificar = pd.read_excel(r'..\..\tratamento_curva_abc\datasets\itens_para_dividir_classificar.xlsx')
situacao_final = pd.read_excel(r'..\..\tratamento_curva_abc\dados_tratados\situacao_final.xlsx')

In [23]:
end_atuais = situacao_final[['Código', 'Ender.Fracionado']]
end_atuais['Ender.Fracionado'] = end_atuais['Ender.Fracionado'].astype(str)
end_atuais

C:\Users\estoque\AppData\Local\Temp\ipykernel_11620\1209099027.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  end_atuais['Ender.Fracionado'] = end_atuais['Ender.Fracionado'].astype(str)

      Código Ender.Fracionado
0     106011           29.913
1     231012           18.015
2     101190           29.911
3     102011           29.063
4     102133           19.012
...      ...              ...
9359  316036              nan
9360   11211              nan
9361   29909              nan
9362   29910           10.207
9363  420655              nan

[9364 rows x 2 columns]

In [27]:
index_AA = ['AA' for i in range(27)]
index_AB = ['AB' for i in range(32)]
index_AC = ['AC' for i in range(20)]

index = (index_AA + index_AB + index_AC)

In [28]:
# Transforma a primeira coluna em uma data frame diferente
modulo_29_28 = todos_classificar[['29_28']] #1

# Junta o df da divisão, com o df de endereços atuais, ficando o df da divisão com os endereços de fracionados atuais
modulo_29_28 = pd.merge(modulo_29_28, end_atuais, left_on = '29_28', right_on = 'Código') #1
modulo_29_28.drop_duplicates(subset = ['29_28'], inplace = True)

refatorar_indece(modulo_29_28, 'Ordem_modulo')

# Verifica se esta no modulo correto
modulo_29_28['Ender.Fracionado'] = modulo_29_28['Ender.Fracionado'].astype(str)
modulo_29_28['Modulo correto'] = modulo_29_28['Ender.Fracionado'].str.startswith(('29', '28'))

# Adicionado columa com as classes
modulo_29_28['Classes'] = index

# Renomear colunas
novos_nomes = {'Ender.Fracionado' : 'Endereço Atual',
               'Código' : 'Itens do modulo 29_28',
              }
modulo_29_28.rename(columns = novos_nomes, inplace = True)

modulo_29_28

,29_28,Itens do modulo 29_28,Endereço Atual,Modulo correto,Classes
Ordem_modulo,,,,,
1,106011,106011,29.913,True,AA
2,11485,11485,29.082,True,AA
3,106007,106007,29.083,True,AA
4,10177,10177,29.074,True,AA
5,101574,101574,29.073,True,AA
...,...,...,...,...,...
75,10090,10090,29.036,True,AC
76,101956,101956,28.076,True,AC
77,1898,1898,28.085,True,AC
78,10454,10454,29.026,True,AC
79,130042,130042,nan,False,AC

In [49]:
enderecos_x_locais = pd.read_excel(r'..\..\tratamento_curva_abc\datasets\local_apanha_frac.xlsx')
enderecos_x_locais = enderecos_x_locais.astype(str)

refatorar_indece(enderecos_x_locais, 'Ordem')

In [37]:
# Endereço atual do item a classificar
classe_aa_29_28_classificar = modulo_29_28[modulo_29_28['Classes'] == 'AA']['Endereço Atual']
classe_ab_29_28_classificar = modulo_29_28[modulo_29_28['Classes'] == 'AB']['Endereço Atual']
classe_ac_29_28_classificar = modulo_29_28[modulo_29_28['Classes'] == 'AC']['Endereço Atual']

In [52]:
# Endereços das classes 
end_classe_aa_29_28 = enderecos_x_locais[enderecos_x_locais['Classe'] == 'AA']['29_28']
end_classe_ab_29_28 = enderecos_x_locais[enderecos_x_locais['Classe'] == 'AB']['29_28']
end_classe_ac_29_28 = enderecos_x_locais[enderecos_x_locais['Classe'] == 'AC']['29_28']

In [53]:
# Verificando se os itens a classificar foram classificados, na classe certa e no local certo.
item_x_class_aa_29_28 = classe_aa_29_28_classificar.isin(end_classe_aa_29_28)
item_x_class_ab_29_28 = classe_ab_29_28_classificar.isin(end_classe_ab_29_28)
item_x_class_ac_29_28 = classe_ac_29_28_classificar.isin(end_classe_ac_29_28)

nova_item_x_classes_29_28 = pd.concat([item_x_class_aa_29_28, item_x_class_ab_29_28, item_x_class_ac_29_28])

modulo_29_28['Classificado'] = nova_item_x_classes_29_28

modulo_29_28

,29_28,Itens do modulo 29_28,Endereço Atual,Modulo correto,Classes,Classificado
Ordem_modulo,,,,,,
1,106011,106011,29.913,True,AA,False
2,11485,11485,29.082,True,AA,True
3,106007,106007,29.083,True,AA,True
4,10177,10177,29.074,True,AA,True
5,101574,101574,29.073,True,AA,True
...,...,...,...,...,...,...
75,10090,10090,29.036,True,AC,True
76,101956,101956,28.076,True,AC,True
77,1898,1898,28.085,True,AC,False
78,10454,10454,29.026,True,AC,True
79,130042,130042,nan,False,AC,False

## Loop

In [62]:
modulos_corredor = {'29_28' : (29, 28),
                    '27_26' : (27, 26),
                    '25_24' : (25, 24),
                    '23_22' : (23, 22),
                    '21_20' : (21, 20),
                    '19_18' : (19, 18),
                   }

modulos = ['29_28', '27_26', '25_24', '23_22', '21_20', '19_18']

def verificar_classificação():
    
    for modulo in modulos:
        # Transforma a primeira coluna em uma data frame diferente
        m_modulo = todos_classificar[[modulo]]

        # Junta o df da divisão, com o df de endereços atuais, ficando o df da divisão com os endereços de fracionados atuais
        m_modulo = pd.merge(m_modulo, end_atuais, left_on = modulo, right_on = 'Código') #1
        m_modulo.drop_duplicates(subset = [modulo], inplace = True)

        refatorar_indece(m_modulo, 'Ordem_modulo')

        # Verifica se esta no modulo correto
        m_modulo['Ender.Fracionado'] = m_modulo['Ender.Fracionado'].astype(str)
        m_modulo['Modulo correto'] = m_modulo['Ender.Fracionado'].str.startswith(modulos_corredor[modulo])
        
        print(modulos_corredor[modulo])
        modulos_corredor[modulo].astype

        # Adicionado columa com as classes
        m_modulo['Classes'] = index

        # Renomear colunas
        novos_nomes = {'Ender.Fracionado' : 'Endereço Atual',
                       'Código' : f'Itens do modulo {modulo}',
                      }
        m_modulo.rename(columns = novos_nomes, inplace = True)

        display(m_modulo)
#         m_modulo.info()
    
verificar_classificação()

(29, 28)

AttributeError: 'tuple' object has no attribute 'astype'

In [ ]:
tupla()